<h1>Admin's page</h1>
<table class ="table">
  <thead>
    <tr class ="edit">
      <th>First Name</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Edit</th>
      <th>Delete</th>
      <th>Admin?</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>  
      <td><%= user.firstname %></td>
      <td><%= user.lastname %></td>
      <td><%= user.email %> </td>
      <td><%= link_to "edit", edit_admin_user_path(user) %> </td>
      <td><%= link_to "delete", admin_user_path(:id => user.id), method: :delete, confirm: "Are you sure you want to delete this user?" %></td>
      <td><%= user.admin %></td>
    </tr>
  </tbody>
  <% end %>
</table>
<%= paginate @users %>

      




<%= link_to 'Create a new user', new_admin_user_path %>